// Bootstrap overrides variables

// Color system

// scss-docs-start gray-color-variables
$white:    #fff;
$bs-gray-100: #f8f9fa;
$bs-gray-200: #e9ecef;
$bs-gray-300: #dee2e6;
$bs-gray-400: #ced4da;
$bs-gray-500: #adb5bd;
$bs-gray-600: #6c757d;
$bs-gray-700: #495057;
$bs-gray-800: #343a40;
$bs-gray-900: #212529;
$black:    #000;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
        "100": $bs-gray-100,
        "200": $bs-gray-200,
        "300": $bs-gray-300,
        "400": $bs-gray-400,
        "500": $bs-gray-500,
        "600": $bs-gray-600,
        "700": $bs-gray-700,
        "800": $bs-gray-800,
        "900": $bs-gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable


$bs-blue: #09c ;
$bs-pink: #e83e8c ;
$bs-red: #d9534f ;
$bs-orange: #fc7b00 ;
$bs-yellow: #8a6d3b ;
$bs-green: #5cb85c ;
$bs-teal: #3c763d ;
$bs-cyan: #31708f ;


$btn-font-weight: normal;


$primary: $bs-blue;
$secondary: $bs-gray-400;
$attention: $bs-orange;
$success: $bs-green;
$info: #07a8f9;
$warning: $bs-yellow;
$danger: $bs-red;
$light: $bs-gray-200;
$dark: $bs-gray-800;


$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
  ),
  $theme-colors
);

$alert-bg-level:                    -10 ;
$alert-border-level:                -8 ;
$alert-color-level:                 6 ;

$btn-default-color: #333;
$btn-default-bg: #fff;
$btn-default-border: #ccc;

$input-btn-focus-width:         .2rem ;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) ;
$input-btn-focus-width:       .2rem;
$form-select-focus-width:     .2rem;
$btn-primary-color: #fff;
$form-select-focus-width:     .2rem;
$component-active-bg:         $primary ;
$input-btn-focus-color-opacity: .25;
$input-btn-focus-color:         rgba($component-active-bg, $input-btn-focus-color-opacity);
$input-btn-focus-box-shadow:    0 0 .2 .2rem $input-btn-focus-color ;
$form-select-focus-box-shadow:    0 0 0 .2rem $input-btn-focus-color ;
$dropdown-link-color: $bs-blue ;


$font-size-base: .89rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;
$font-size-md: $font-size-base * 1.15;
$font-size-sm: $font-size-base * 0.75;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.225;
$h5-font-size: $font-size-base * 1.15;
$h6-font-size: $font-size-base;

$popover-font-size: $font-size-md;

$modal-fade-transform:              translateX(-50%);
$modal-show-transform:              translateY(9%);
$modal-transition:                  transform .3s ease;
$modal-scale-transform:             scale(1) ;

$container-max-widths: (
        sm: 540px,
        md: 900px,
        lg: 1060px,
        xl: 1140px
) ;


.btn-outline-secondary {
  color: #6c757d;
  border-color: #dee2e6;
}

.nav-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// Default appears as grey
.btn-default {
  color: $btn-default-color !important;
  background: $btn-default-bg !important;
  border: 1px solid $btn-default-border !important;
}

.btn-primary {
  color: $btn-primary-color !important;
  background: $bs-green !important;
  border: 1px solid $btn-default-border !important;
}

.progress-bar-success {
  background-color: #5cb85c;
}

.progress-bar-danger {
  background-color: #d9534f;
}


.toggle-split {
  border-left: 1px solid #ccc;
}

.dropdown-toggle-split {
  border-right: 1px solid #ccc !important;
  margin-right: 20px;

  &::after {
    margin-left: 20px !important;
  }
}

.w-80 {
  width: 80% !important;
}


.alert-green {
  color: #fff;
  background-color: #0c9a0f;
  border-color: rgba(16, 129, 30, 0.8);
}
